:root{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    --red: hsl(0, 100%, 40%);
    --dark-blue: hsl(240, 100%, 35%);
    --light-blue: hsl(187, 100%, 90%);
    --grey: hsl(0, 0%, 70%);
    --dark-grey: hsl(0, 0%, 30%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 95vh;
    margin: 2.5vh;
    border-radius: 2.5vh;
    display: grid;
    grid-template-rows: 1fr 1fr 9fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;
    grid-template-areas: 
        "title title"
        "message message"
        "human computer";
    background-color: var(--light-blue)
}

.title{
    font-size: 3rem;
    font-weight: bold;
    grid-area: title;
    text-align: center;
    align-self: center;
}

.message-box {
    font-size: 2rem;
    grid-area: message;
    text-align: center;
    align-self: center;
    color: black;
    transition: transform .5s;
}


.message-box.new,
.won{
    
    transform: scale(1.5);
    transition: transform .1s;
}



.player-container.human{
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
        ". player-title"
        "fleet board";
}

.player-container.computer{
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
        "player-title ."
        "board fleet";
}

.player-title{
    font-size: 2rem;
    grid-area: player-title;
    text-align: center;
    align-self: center;
}

.fleet{
    grid-area: fleet;
}

.ship-container{
    position: relative;
    margin: 0px 40px 10px 40px;
}

.ship-text{
    font-size: 24px;
}

.ship-symbol{
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.progress-bar{
    margin: .4rem 0rem;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: black;
}
.progress-bar::before{
    content: '';
    display: flex;
    width: calc(var(--width) * 1%);
    min-width: 3%;
    height: 20px;
    border-radius: 10px;
    background-color: var(--red)
}

.board {
    grid-area: board;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr); 
    height: 550px;
    width: 550px;
    border: 5px solid black;
}

.field {
    border: 2px solid var(--dark-grey)
}


.ship.hit,
.sunk {
    background-image: url(./assets/cross.svg);
    background-size: 100%
}

path {
    fill: var(--red);
    color: var(--red)
}
.human.empty {
    background-color: var(--dark-blue)
}

.ship,
.human.show {
    background-color: black;
}

.human.empty.hit {
    background-image: url(./assets/dot.svg);
    background-size: 100%
}

.computer.empty.hit {
    background-color: var(--dark-blue);
}


.computer.not-hit {
    background-color: var(--grey)
}



