body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas: 
        "title title"
        "message message"
        "human-board computer-board";
}

.title{
    font-size: 64px;
    grid-area: title;
    text-align: center;
    align-self: center;
}

.messageBox {
    font-size: 48px;
    grid-area: message;
    text-align: center;
    align-self: center;
    padding: 1rem 2rem;
}

.board {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr); 
    gap: 5px 5px;
    height: 600px;
    width: 600px;
    gap: 3px 3px;
}

.ship.hit {
    background-color: orange;
}

.ship.sunk {
    background-color: red;
}

.human.empty,
.computer.empty.hit {
    background-color: blue;
}

.human.ship.not-hit {
    background-color: black;
}

.computer.not-hit {
    background-color: grey;
}

.messageBox.new{
    color: red;
}


